
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carton
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="no-scroll">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bookmarks</ion-title>
    </ion-toolbar>
  </ion-header>

<div id="elem"></div>

<div *ngIf="display">

</div>
<div *ngIf="!display"><h1>Vos candidats</h1><small>Sur cette page, retrouvez le
  programme de vos candidats.
  Pour se faire, veuillez cliquer sur l'onglet Scanner et ensuite prendre en photo le candidats.
  <button (click)="Scanner()">Scanner</button>
</small></div>

  
</ion-content>
<!--
<ion-content>
  <img [src]="photo" >

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
-->