<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Scan page"></app-explore-container>
</ion-content>
-->
<ion-content>
  <div class="img_container"><h1>Photo prise :</h1><small>Prenez en photo l'un de vos candidats partenaires</small><img class="img" [src]="photo" ></div>
  
  {{error}}
  <div id="wrap" ><div id="loading" ></div></div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
