<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      À propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">À propos</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <h1>À quoi ça sert ?</h1>
    <small>
    Cette Application a pour objectif d'optimiser les campagnes d'élections.
    Grâce à cette application, prenez en photo l'un de vos candidats et nous vous afficherons son programme
    </small>

    <h2>Les avantages</h2>
    <div class="advantages"></div>
    <p>L'écologie</p>
    <img src="/assets/icon/arbre.png" class="nature">
    <small>Cette application aide à la suppression des tracts, ce qui permet de lutter contre la déforestation</small>
    <div class="copyright"><small>@Copyright</small><ion-datetime displayFormat="YYYY" [(ngModel)]="myDate"></ion-datetime></div>
  </body>
</ion-content>
